@model VillaNueva_Habitat.Models.Provedores

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InsertProvedor</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)
<fieldset>
    <legend style="font-family:Arial Black;color:Green">Provedores</legend>
    <div class="editor-label" style="font-family:Arial Black">
        @Html.LabelFor(model => model.Codigo_proveedor)
    </div>
    <div class="editor-field" style="color:Red;font-family:Arial">
        @Html.EditorFor(model => model.Codigo_proveedor)
        @Html.ValidationMessageFor(model => model.Codigo_proveedor)
    </div>
    <div class="editor-label" style="font-family:Arial Black">
        @Html.LabelFor(model => model.Razon_social)
    </div>
    <div class="editor-field" style="color:Red;font-family:Arial">
        @Html.EditorFor(model => model.Razon_social)
        @Html.ValidationMessageFor(model => model.Razon_social)
    </div>
    <div class="editor-label" style="font-family:Arial Black">
        @Html.LabelFor(model => model.RFC)
    </div>
    <div class="editor-field" style="color:Red;font-family:Arial">
        @Html.EditorFor(model => model.RFC)
        @Html.ValidationMessageFor(model => model.RFC)
    </div>
    <div class="editor-label" style="font-family:Arial Black">
        @Html.LabelFor(model => model.Telefono)
    </div>
    <div class="editor-field" style="color:Red;font-family:Arial">
        @Html.EditorFor(model => model.Telefono)
        @Html.ValidationMessageFor(model => model.Telefono)
    </div>
    <div class="editor-label" style="font-family:Arial Black">
        @Html.LabelFor(model => model.Calle)
    </div>
    <div class="editor-field" style="color:Red;font-family:Arial">
        @Html.EditorFor(model => model.Calle)
    </div>
    <div class="editor-label" style="font-family:Arial Black">
        @Html.LabelFor(model => model.Numero_Exterior)
    </div>
    <div class="editor-field" style="color:Red;font-family:Arial">
        @Html.EditorFor(model => model.Numero_Exterior)
    </div>
    <div class="editor-label" style="font-family:Arial Black">
        @Html.LabelFor(model => model.Colonia)
    </div>
    <div class="editor-field" style="color:Red;font-family:Arial">
        @Html.EditorFor(model => model.Colonia)
    </div>
    <div class="editor-label" style="font-family:Arial Black">
        @Html.LabelFor(model => model.Entidad)
    </div>
    <div class="editor-field" style="color:Red;font-family:Arial">
        @Html.EditorFor(model => model.Entidad)
    </div>
    <p>
        <input type="submit" value="Insert" style="color:Navy;font-family:Arial; font-size:large" />
        <input type="reset" value="Reset" style="color:Navy;font-family:Arial; font-size:large" />
    </p>
</fieldset>
    }
    <div style="color:Blue;font-family:Arial">
        @Html.ActionLink("Back to Customer Records", "ShowAllProvedoresDetails")
    </div>
</body>
</html>
