@model VillaNueva_Habitat.Models.cat_tipo_usuario

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error! </strong> @TempData["ErrorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span>&times;</span>
        </button>
    </div>
}

<h3>Estas seguro de querer eliminar el registro?</h3>
<div>
    <h4>Catálogo Tipo de Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_tipo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_tipo_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abreviatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abreviatura)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
