
@model List<VillaNueva_Habitat.Models.cat_tipo_usuario>

@if(TempData["InfoMessage"] != null)
            {
                <div class="alert alert-info">
                    <strong>Información: </strong> @TempData["InfoMessage"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
            }
@{
    ViewData["Title"] = "Tipo de Usuario detalle";
    var errorMessage = TempData["ErrorMessage"]?.ToString();
    var successMessage = TempData["successMessage"]?.ToString();
}

<h3>Catálogo de Tipos de Usuario</h3>
<hr />


<form>
 
    <a class="btn btn-primary mb-3" href="@Url.Action("InsertaProvedores","Tipo_Usuario")">Crear Usuario</a>

   

    <table class="table table-responsive table-bordared table-hover">
        <thead>
            <tr class="table-active">
                <th>Id tipo usuario</th>
                <th>Descripcion</th>e
                <th>Abreviatura</th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var tipo_usuario in Model)
            {
                <tr>
                    <td>@tipo_usuario.Id_tipo_usuario</td>
                    <td>@tipo_usuario.Descripcion</td>
                    <td>@tipo_usuario.Abreviatura</td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { Id = tipo_usuario.Id_tipo_usuario }, new { @class = "btn btn-primary" })&nbsp;&nbsp;&nbsp;
                        @Html.ActionLink("Delete", "Delete", new { Id = tipo_usuario.Id_tipo_usuario }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
           
    </table>

</form>