
@model IEnumerable<VillaNueva_Habitat.Models.cat_tipo_usuario>

@{
    ViewData["Title"] = "Provedores detalle";
    
}

<h3>Index</h3>
<hr />

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        <strong>Information</strong> @TempData["InfoMessage"] 
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="close">
            <span>&times;</span>
        </button>
    </div>
}

<p>
    @Html.ActionLink("Crear nuevo tipo de usuario","Crear",null,new { @class = "btn btn-primarfy"})
</p>
<table class="table table-bordared table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_tipo_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abreviatura)
        </th>
        <th>Acción</th>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_tipo_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abreviatura)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id_tipo_usuario = item.Id_tipo_usuario }, new { @class = "btn btn-primary" }) &nbsp;&nbsp;&nbsp;
                @Html.ActionLink("Detalle", "Detalle", new { Id_tipo_usuario = item.Id_tipo_usuario }, new { @class = "btn btn-success" }) &nbsp;&nbsp;&nbsp;
                @Html.ActionLink("DElete", "Delete", new { Id_tipo_usuario = item.Id_tipo_usuario }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>