@model IEnumerable<VillaNueva_Habitat.Models.cat_adm_clientes>

@{
    ViewBag.Title = "Lista_Cat_Adm_Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista_Cat_Adm_Clientes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rfc_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cve_regimen_fiscal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.razon_social)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Municipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colonia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_Postal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forma_Pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CFDI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instrucciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dias_Recepcion_Facturas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dias_Credito)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rfc_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cve_regimen_fiscal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razon_social)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Municipio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colonia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_Postal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Forma_Pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CFDI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instrucciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dias_Recepcion_Facturas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dias_Credito)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
